h1{
    border-bottom: 1px solid black;
    color: #ac341e;
    text-align: center;

}

//sout player
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d8352b;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    width: 10px;
    height: 15px;
    cursor: pointer;
}

.slider2 {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
  }
  
  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:#d8352b;
    cursor: pointer;
  }
  
  .slider2::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d8352b;
    cursor: pointer;
  }

 .report-header{
    background-color: #cac5c5;
    font-size: 20px;
 } 
 .report-header > *{
  color: #ac341e;
 }
