<div class="list-group sticky-top"><br><br> <br> <br>
    <a [routerLink]="['/admin/dashboard']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Dashboard </span>
                <i class="fas fa-chart-line"></i>
    </a>
    <a [routerLink]="['/admin/reports']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Reports </span>
                <i class="fas fa-flag" ></i>
    </a>
    <a [routerLink]="['/admin/talents']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Talents </span>
                <i class="fas fa-microphone"></i>
    </a>
    <a [routerLink]="['/admin/monitoring']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Monitoring </span>
                <i class="fab fa-watchman-monitoring"></i>
    </a>
    <a [routerLink]="['/admin/block']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Block </span>
                <i class="fas fa-ban"></i>
    </a>
</div>