<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-9 col-md-8" style="margin-top:1.2%">
            <div class="btn-group btn-group-lg" role="group" aria-label="bookmarksType">
                <button type="button" class="btn btn-dark">Later</button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-plus-circle"></i></button>
            </div>

            <div id="Later">
                <ng-container *ngIf="bookmarkFlag">
                    <div *ngFor="let bookmark of bookmarksRef" class="bookmark" data-toggle="modal" data-target="#soulPost">
                    <span aria-hidden="true" class="closeBtn">&times;</span>
                    <div class="row">
                        <div class="col-3">
                            <div *ngIf="bookmark.image.length;then postImg else userImg" class="imageContainer"></div>    
                            <ng-template #postImg><img [src]="bookmark.image[0]" class="rounded float-left bookmarkIcon" alt="soul"></ng-template>
                            <ng-template #userImg class="imageContainer">
                                <img [src]="bookmark.owner.picURL" class="rounded float-left bookmarkIcon" alt="soul">
                            </ng-template>
                        </div>
                        <div class="col-9">
                            <strong class="FontConfig">{{bookmark.description}}</strong><br>
                            <small style="color:gray;">Bookmark • Section: Later</small><br>
                            <small style="color:gray;">
                                
                                <img class="smallPic" [src]="bookmark.owner.picURL">  Saved from {{bookmark.owner.name}}</small>
                        </div>
                        <div class="modal fade" id="soulPost" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div style="padding: 5px;">
                                    <div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:whitesmoke;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="post">
                                            <div class="poster">
                                                
                                                <img [src]="bookmark.owner.picURL">
                                                <div id="posterName">{{bookmark.owner.name}}</div>
                                                <div id="time">{{bookmark.date}} <i class="fas fa-globe-africa"></i></div>
                                            </div>

                                            <span *ngIf="bookmark.description">{{bookmark.description}}</span> 
                                            <div *ngIf="bookmark.image.length">
                                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                    <ol *ngFor="let index of bookmark.image.length" class="carousel-indicators">
                                                      <li data-target="#carouselExampleIndicators" data-slide-to="index" class="active"></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                      <div *ngFor="let img of bookmark.image" class="carousel-item">
                                                        <img src="img" class="d-block w-100" >
                                                      </div>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                      <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                      <span class="sr-only">Next</span>
                                                    </a>
                                                  </div>
                                            </div>
                                            <!-- <img src="bookmark.owner.picURL" class="rounded float-left bookmarkIcon" style="margin: 2% 2% 2% 0%" alt="dark"> -->
                                            <span *ngIf="bookmark.audio" class="soutplayer">
                                                <audio id="player" src="../../../../assets/02 Atgah Wahed.mp3"></audio>
                                                <div>
                                                    <i onclick="document.getElementById('player').play()" class="fas fa-2x fa-play-circle" style="color: #d8352b"></i>
                                                    <i onclick="document.getElementById('player').pause()" class="fas fa-2x fa-pause-circle" style="color: #d8352b"></i>
                                                    <span id="audtime"></span>

                                                    <input type="range" class="slider" id="myRange1" min="0">

                                                    <span id="auddur"></span>
                                                    <span class="btn-group dropright">
                                                        <i class="fas fa-2x fa-volume-up" style="color: #d8352b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="volicon"></i>
                                                        <div class="dropdown-menu">
                                                            <input type="range" id="vol" min="0" max="100">
                                                        </div>
                                                    </span>
                                                </div>
                                            </span>
                                            <div class="dropdown-divider"></div>

                                            <div class="lastRowPost">

                                                <div id="like" onclick="addLike()">
                                                    <i class="far fa-thumbs-up" id="likeIcon"></i>
                                                    <span id="likeCont">
                                                        Like
                                                    </span>
                                                </div>
                                                <div id="comment" onclick="addComment()">
                                                    <i class="fas fa-microphone-alt"></i>
                                                    <span id="commentCont">
                                                        Voice
                                                    </span>
                                                </div>
                                                <div id="comment" onclick="addComment()">
                                                    <i class="far fa-comment-alt" id="commentIcon"></i>
                                                    <span id="commentCont">
                                                        Comment
                                                    </span>
                                                </div>
                                            </div>


                                            <div id="writecomnt">
                                                <hr style="margin-top: 55px;margin-bottom: 10px">
                                                <div class="firstRow">
                                                    <img [src]="user.picURL">
                                                    <input type="text" placeholder="Write a comment..." id="cmntInput" />
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-share-square float-right" style="margin-top:-1rem;" (click)="shareBookmark()"></i>

                    </div>
                </ng-container>
                
            </div>
        </div>
    </div>
</div>
