.bookmark {
  background-color: #F0F2F5;
  border-radius: 8px;
  margin-left: 0.5%;
  box-shadow: 0px 0.5px 2px grey;
  cursor: pointer;
  padding: 2%;
  margin-top: 2%;
  height: 170px;
}

.bookmark:hover {
  background-color: #c0c1c2;
}

.bookmarkIcon {
  border: 1px solid grey;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #444444;
}

.imageContainer {
  width: 150px;
  height: 140px;
}

.FontConfig {
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.smallPic {
  border-radius: 50%;
  width: 25px;
}

.closeBtn {
  float: right;
  font-size: 20px;
  color: grey;
  margin-top: -10px;
}

#writePst {
  margin-top: 0%;
  margin-left: 3%;
  height: 30%;
  /*118px*/
  width: 99%;
  /*560*/
  background-color: white;
  padding: 12px;
  border-radius: 11px;
  box-shadow: 0px 0.5px 5px grey;
  transition: all 1s ease-in-out;
}

.firstRow img {
  float: left;
  margin: 2 2.5% 0 0px;
  height: 40%;
  /*35*/
  width: 5%;
  /*35*/
  border-radius: 50%;
}

.firstRow input {
  width: 91.2%;
  /*488*/
  height: 35px;
  padding-left: 5px;
  font-size: 16px;
  border: 0px;
  background: #F0F2F5;
  border-radius: 18px;
  margin-top: 1%;
  padding-left: 12px;
  outline: none;
  margin-bottom: 0px;
}

#postButt {
  margin-left: 50%;
  width: 12%;
  height: 2%;
  text-align: center;
  border-radius: 15px;
  background-color: #D93746;
  border: none;
}

.secondRow i {
  font-size: 130%
    /*20px*/
  ;
  margin-right: 5px;
  padding-top: 0px;
}

.live i {
  float: left;
  font-size: 25px;
  margin-left: 3%;
  color: #d8352b;
}

.post {
  margin-top: 2.5%;
  margin-left: 3%;
  height: 65%;
  /*760*/
  width: 99%;
  /*560*/
  background-color: white;
  padding: 1.5%;
  border-radius: 11px;
  box-shadow: 0px 0.5px 5px grey;
  transition: all 0.5s ease-in-out;
}

.poster img {
  float: left;
  margin: 0 0% 0 0px;
  height: 5.1%;
  /*35*/
  width: 6%;
  /*35*/
  border-radius: 50%;
}

#posterName {
  color: #050505;
  font-size: 90%
    /*14px*/
  ;
  font-weight: 600;
  margin-top: 5px;
  /*    position: static;*/
  margin-left: 0%
    /*42*/
  ;
}

#time {
  color: #616871;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 12px;
}

#time i {
  font-size: 12px;
}

#like,
#comment,
#share {
  float: left;
  width: 33.2%;
  height: 40px;
  text-align: center;
  border-radius: 8px;
}

.lastRowPost i {
  font-size: 20px;
  margin-right: 5px;
  padding-top: 0px;
  color: #616871;
}

#likeCont,
#shareCont,
#commentCont {
  color: #79737a;
  font-size: 14px;
  padding-bottom: 150px;
  font-weight: 600;
}

#like:hover,
#comment:hover,
#share:hover {
  cursor: pointer;
  text-decoration-color: #d8352b
}
