<app-header></app-header>
<div class="container">

    <div class="row no-padding" class="col-md-12" id="cover" style="margin-bottom: 2.5%">
        <div id="coverPhotoParent">
            <img [src]="userInfo.coverPicURL" id="coverPhoto">
            <div id="avatar">
                <img [src]="userInfo.picURL">
                <h3 id="name" style="text-align: center;margin-top: 15px">{{userInfo.firstName+" "+userInfo.secondName}}
                </h3>
                <div style="text-align: center;font-size: 17px;color: dimgray;" *ngIf="userInfo.bio">{{userInfo.bio}}
                </div>
            </div>
            <hr style="margin-top: 10%;">
        </div>

    </div>
    <div class="row" style="margin-top: 40px">
        <input type="file" id="myFileInput" />

        <div class="row nav nav2 justify-content-end" id="nav-tab"
            style="background-color: transparent; width: 100%;margin-bottom: 2%;height: 5.5%;margin-top: 1%;">

            <span class="col nav-item padding-0" data-toggle="tooltip" data-placement="bottom" style="float: left;">
                <span class="dropdown edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:20px;width: 120px;padding: 3px 12px 5px 12px; background-color: #F5F7F8;">
                    <a role="menuitem" tabindex="-1" (click)="open(followersModal)">
                        <b [ngStyle]="{'color': user.favColor}"> {{followers}}</b> Followers
                    </a>
                </span>
                <span class="dropdown edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:20px;width: 120px;padding: 3px 15px 5px 12px;background-color: #F5F7F8;">
                    <a role="menuitem" tabindex="-1" (click)="open(followingModal)">
                        <b [ngStyle]="{'color': user.favColor}"> {{following}}</b> Following
                    </a>
                </span>
            </span>
            <!-- birtDateeeeeeeeeeee -->
            <span class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Birth Date">
                <div class="dropdown edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:20px;float: right;background-color: #F5F7F8;">
                    <button class="btn btn-default " type="button" id="menu1" data-toggle="dropdown"
                        style="width: 100%"><i class="fas fa-birthday-cake" style="font-size: 17px;text-align: center"
                            [ngStyle]="{'color': user.favColor}"></i> {{userInfo.birthDate}}
                    </button>
                </div>
            </span>

            <span class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Follow">
                <div class="dropdown edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right;background-color: #F5F7F8;">
                    <button class="btn btn-default " type="button" id="menu1" data-toggle="dropdown" (click)="follow()"
                        style="width: 100%"><i class="fas fa-user-plus" style="font-size: 16px;text-align: center"
                            *ngIf="!check" [ngStyle]="{'color': user.favColor}"></i>
                        <i class="fas fa-user-check" style="font-size: 16px;text-align: center" *ngIf="check"
                            [ngStyle]="{'color': user.favColor}"></i>
                    </button>
                </div>
            </span>
            <span class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Send Message">
                <div class="edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right;background-color: #F5F7F8;">
                    <button [routerLink]="[ '/users/messages' ]" routerLinkActive="active" class="btn btn-default "
                        type="button" id="menu1" data-toggle="dropdown" style="width: 100%"><i class="fas fa-envelope"
                            style="font-size: 16px;text-align: center" [ngStyle]="{'color': user.favColor}"></i>
                    </button>
                </div>
            </span>


            <span class="nav-item">
                <div class="dropdown edit"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right;background-color: #F5F7F8;">
                    <button class="btn btn-default " type="button" id="menu1" data-toggle="dropdown"
                        style="width: 100%"><i class="fas fa-ellipsis-h" style="font-size: 16px;text-align: center"
                            [ngStyle]="{'color': user.favColor}"></i>
                    </button>
                    <ul class="dropdown-menu" style="width: 25%;border: none" role="menu" aria-labelledby="menu1">
                        <li role="presentation" style="padding-left:7px;">
                            <a role="menuitem" tabindex="-1" (click)="open(content)">
                                <i class="fas fa-exclamation-triangle" style="font-size: 15px"
                                    [ngStyle]="{'color': user.favColor}"></i>
                                Report Profile
                            </a>



                        </li>
                        <!-- <hr>
                        <li role="presentation" style="padding-left:5px;"><a role="menuitem" tabindex="-1"> <i
                                    class="fas fa-ban" style="font-size: 15px" [ngStyle]="{'color': user.favColor}"></i> Block</a></li> -->
                    </ul>
                </div>
            </span>



        </div>

    </div>
    <div class="row" id="center">
        <nav id="sidebarMenu1" class="col-sm-1 col-md-3 leftSide sidebar" style="background-color: #F5F7F8;border-radius: 5px;
        box-shadow: 0px 0.5px 5px grey;height: 75vh;">
            <div class="position-sticky my-3 d-flex justify-content-center">
                <ul class="nav flex-column">
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/home' ]" routerLinkActive="active">
                                <i class="fas fa-home" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Home</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/notifications' ]"
                                routerLinkActive="active">
                                <i class="fas fa-bell" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block">Notifications <b
                                        class="badge badge-pill">{{notificationsNo}}</b></span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/messages' ]" routerLinkActive="active">
                                <i class="fas fa-envelope" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Messages</span>
                            </a>
                        </li>
                        <hr>
                    </div>

                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/talents' ]" routerLinkActive="active">
                                <i class="fas fa-music" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Talents</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/discover' ]" routerLinkActive="active">
                                <i class="fas fa-hashtag" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Discover</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/settings' ]" routerLinkActive="active">
                                <i class="fas fa-cog" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Settings</span>

                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/bookmarks' ]" routerLinkActive="active">
                                <i class="fas fa-bookmark" [ngStyle]="{'color': user.favColor}"></i><span
                                    class="d-none d-md-inline-block"> Bookmarks</span>
                            </a>
                        </li>
                    </div>
                </ul>

            </div>
        </nav>

        <div class="col-sm-11 col-md-9 rightSide" style="height: 100%;margin-bottom: 30px;">
            <!-- <div id="writePst">
                <div class="firstRow">
                    <img [src]="user.picURL" style="width: 6%;cursor: pointer;" [routerLink]="'/users/profile'" routerLinkActive="active">
                    <input type="text" placeholder={{postMind}} />
                </div>
                <hr>
                <div class="secondRow">
                    <div class="live">
                        <i class="fas fa-video" id="liveIcon" [ngStyle]="{'color': user.favColor}"></i>
                        <i class="fas fa-microphone-alt" [ngStyle]="{'color': user.favColor}"></i>
                        <i class="fas fa-paperclip" [ngStyle]="{'color': user.favColor}"></i>
                        <input id="postButt" type="button" value="Post" [ngStyle]="{'background-color': user.favColor}">
                    </div>

                </div>
            </div> -->

            <div id="post1" *ngFor="let post of postList;let i=index" style="margin-bottom: 2.5%;margin-top: 0px;">
                <div class="dropdown " style="float: right">
                    <button class="btn dropdown-toggle points" id="menu1" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"
                            [ngStyle]="{'color': this.user.favColor}"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" style="padding-left:9px;">
                            <button (click)="bookmarkpost(post)"
                                style="color: black;background-color: transparent;border: none;cursor: pointer;">
                                <i class="fas fa-bookmark"
                                    style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                Bookmark Post</button>
                        </li>
                        <hr>
                        <li role="presentation" style="padding-left:9px;cursor: pointer;">
                            <a role="menuitem" tabindex="-1" (click)="open(content)" style="color: black">
                                <i class="fas fa-exclamation-triangle"
                                    style="font-size: 15px;color: #d8352b;margin-right: 5px;"></i>
                                Report Post</a>

                            <!-- Report Post Modal -->
                            <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header text-light bg-dark">
                                    <h4 class="modal-title" id="modal-basic-title">Report Post !
                                    </h4>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true" style="color:white;">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" #title placeholder="Title">
                                    <br />
                                    <input type="text" class="form-control" #desc placeholder="Description">
                                    <br />
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            (change)="uploadReportImage($event)">
                                        <label class="custom-file-label"
                                            for="inputGroupFile01">{{imageReStatus}}</label>
                                        <div *ngIf="uploaded" class="mt-1" style="font-size: small;">
                                            <b *ngIf="uploaded=='Image Uploaded'">&#10003;</b> {{ uploaded }}
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            (change)="uploadReportAudio($event)">
                                        <label class="custom-file-label"
                                            for="inputGroupFile01">{{audioReStatus}}</label>
                                        <div *ngIf="uploadedAudio" class="mt-1" style="font-size: small;">
                                            <b *ngIf="uploadedAudio=='Audio Uploaded'">&#10003;</b> {{ uploadedAudio }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark"
                                        (click)="c('Save click');reportPost(title.value,desc.value,post.id)">Report</button>
                                </div>
                            </ng-template>
                            <!-- End Modal -->
                        </li>
                    </ul>
                </div>
                <div class="poster">
                    <img [src]="userInfo.picURL" style="cursor: pointer;">
                    <div id="posterName" style="cursor: pointer;">{{userInfo.firstName+" "+userInfo.secondName}}</div>
                    <div id="time">{{post.date.seconds * 1000 | date:'dd-MM-yyyy hh:mm'}} <i
                            class="fas fa-globe-africa"></i></div>
                </div>

                <span class="ml-2">{{post.description}}</span>
                <br />
                <img [src]="post.image" *ngIf="post.image" style="width: 100%">
                <span *ngIf="post.audio">
                    <div class="container-audio">
                        <audio controls>
                            <source [src]="post.audio" type="audio/ogg">
                            Your browser dose not Support the audio Tag
                        </audio>
                    </div>
                </span>
                <div *ngIf="post.video">
                    <div class="container ny-3">
                        <video controls style="width: 100%;">
                            <source [src]="post.video" type="video/mp4">
                        </video>
                    </div>
                </div>



                <hr style="margin-top: 15px;">
                <div class="lastRowPost">
                    <div id="like" (click)="addLike(post)">
                        <i class="far fa-thumbs-up" id="likeIcon"></i>
                        <span id="likeCont">
                            Like <span class="badge badge-pill badge-light">{{LikesList[i].length}}</span>
                        </span>
                    </div>
                    <div id="comment">
                        <i class="fas fa-microphone-alt"></i>
                        <span id="commentCont">
                            Voice
                        </span>
                    </div>

                    <div id="comment" (click)="addComment(post,i);comm.value=''">
                        <i class="far fa-comment-alt" id="commentIcon"></i>
                        <span id="commentCont">
                            Comment <span class="badge badge-pill badge-light">{{commentsList[i].length}}</span>
                        </span>
                    </div>
                </div>


                <div id="writecomnt">
                    <hr style="margin-top: 55px;margin-bottom: 10px">
                    <div class="firstRow">
                        <img [src]="picURL" [routerLink]="'/users/profile'" routerLinkActive="active"
                            style="cursor: pointer;">
                        <input [(ngModel)]="postcomfields[i]" type="text" #comm placeholder="Write a comment..."
                            id="cmntInput" />
                    </div>

                </div>
                <div *ngFor="let item of commentsList[i]" class="my-2 mx-3 mt-3" style="width: 70%;margin-left: 3.5%;">

                    <img style="width: 6%;height: 6%;float: left;border-radius: 50%;"
                        [src]="user.id==item.writer.id?picURL:item.writer.picURL"
                        [routerLink]="'/users/profile/'+item.writer.id" routerLinkActive="active">

                    <div class="pl-2" style="background-color:#F0F2F5;border-radius: 10px;margin-left: 5.5%;">
                        <div><small id="posterName">{{item.writer.name}}</small>
                            <small style="display: block;font-size: 10px;">
                                {{item.date | date:'dd-MM-yyyy hh:mm'}}</small>
                        </div>
                        <span style="font-weight: 400;">{{item.description}}</span>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<!-- Report User Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-light bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Report {{userInfo.firstName}} !</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" #title placeholder="Title" required>
        <br />
        <input type="text" class="form-control" #desc placeholder="Description" required>
        <br />
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="uploadReportImage($event)">
            <label class="custom-file-label" for="inputGroupFile01">{{imageReStatus}}</label>
            <div *ngIf="uploaded" class="mt-1" style="font-size: small;">
                <b *ngIf="uploaded=='Image Uploaded'">&#10003;</b> {{ uploaded }}
            </div>
        </div>
        <br /><br />
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="uploadReportAudio($event)">
            <label class="custom-file-label" for="inputGroupFile01">{{audioReStatus}}</label>
            <div *ngIf="uploadedAudio" class="mt-1" style="font-size: small;">
                <b *ngIf="uploadedAudio=='Audio Uploaded'">&#10003;</b> {{ uploadedAudio }}
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark"
            (click)="c('Save click');reportUser(title.value,desc.value)">Report</button>
    </div>
</ng-template>
<!-- End Modal -->


<!-- Followers Modal -->
<ng-template #followersModal let-c="close" let-d="dismiss">
    <div class="modal-header text-light bg-dark">
        <h4 class="modal-title" id="modal-basic-title">All Followers :</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let follower of followersList;">
            <div class="row">
                <img class=" padding-0" [src]="follower.picURL"
                    style="width: 50px;float: left;border-radius: 50%;height: 50px;margin-left: 8px;cursor: pointer;"
                    [routerLink]="'/users/profile/'+follower.userid" routerLinkActive="active">

                <span class=" padding-0" style="font-size: 20px;margin-top: 13px;margin-left: 5px;cursor: pointer;"
                    [routerLink]="'/users/profile/'+follower.userid" routerLinkActive="active">{{follower.name}}</span>
            </div>
            <hr style="margin-top: 10px;" *ngIf="followersList.length>1" />
        </div>
    </div>
</ng-template>
<!-- End Modal -->

<!-- Following Modal -->
<ng-template #followingModal let-c="close" let-d="dismiss">
    <div class="modal-header text-light bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Following :</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let following of followingList;" style="margin-bottom: 10px;">
            <div class="row">
                <img class="padding-0" [src]="following.picURL"
                    style="width: 50px;float: left;border-radius: 50%;height: 50px;margin-left: 8px;cursor: pointer;"
                    [routerLink]="'/users/profile/'+following.userid" routerLinkActive="active">

                <div class="padding-0" style="font-size: 20px;margin-top: 13px;margin-left: 5px;cursor: pointer;"
                    [routerLink]="'/users/profile/'+following.userid" routerLinkActive="active"> {{following.name}}
                </div>
            </div>
            <hr style="margin-top: 10px;" *ngIf="followingList.length>1" />
        </div>

    </div>
</ng-template>
<!-- End Modal -->