.nav-item i {
    font-size: 28px;
    color: #d8352b;
    margin-left: 0px;
}

.nav-item span {
    font-size: 19px;
    margin-left: 30px
}

.nav-item {
    border-radius: 100px;
}

.nav-item span:hover {
    color: #d8352b;
    cursor: pointer
}

.nav-item:hover {
    background-color: #BBBBBA;
}

.nav-item a {
    color: #444444!important;
}

#sidebarMenu {
    background-color: #F0F2F5;
    border-radius: 5px;
    box-shadow: 0px 0.5px 5px grey;
}

.sticky-offset {
    top: 0px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

#coverPhotoParent {
    width: 100%;
    height: 50vh;
    position: relative;
}

#coverPhoto {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover
}

#avatar {
    position: absolute;
    bottom: 0;
    left: 37%;
    width: 27%;
    text-align: center;
    display: inline-block;

}

#avatar img {
    width: 80%;
    border-radius: 50%;
    border-color: white;
    background-color: white;
}

.leftSide {
    background-color: #F0F2F5;
    border-radius: 5px;
    box-shadow: 0px 0.5px 5px grey;
}


.icon:hover {
    background-color: #BBBBBA;
}

.edit:hover {
    background-color: #BBBBBA;
}
.nav2 span i {
    font-size: 25px;
    color: #d8352b;
    margin-left: 0px;
}
#myFileInput {
    display:none;
}
.nav2 span {
    font-size: 19px;
    margin-left: 1%;
    margin-right: 4px
}

.nav-item {
    border-radius: 100px;
}
ul li{
    cursor: pointer
}

.nav2 span:hover {
    background-color:transparent;
}

.nav-item a {
    color: #444444!important;
}

#writePst {
    margin-top: 0%;
    margin-left: 3%;
    height: 30%;
    /*118px*/
    width: 99%;
    /*560*/
    background-color: white;
    padding: 12px;
    border-radius: 11px;
    box-shadow: 0px 0.5px 5px grey;
    transition: all 1s ease-in-out;
}

.firstRow img {
    float: left;
    margin: 2 2.5% 0 0px;
    height: 40%;
    /*35*/
    width: 5%;
    /*35*/
    border-radius: 50%;
}

.firstRow input {
    width: 91.2%;
    /*488*/
    height: 35px;
    padding-left: 5px;
    font-size: 16px;
    border: 0px;
    background: #F0F2F5;
    border-radius: 18px;
    margin-top: 1%;
    padding-left: 12px;
    outline: none;
    margin-bottom: 0px;
}


#postButt {
    margin-left: 50%;
    width: 12%;
    height: 2%;
    text-align: center;
    border-radius: 15px;
    background-color: #D93746;
    border: none;
    color: white;

}

.secondRow i {
    font-size: 130%
        /*20px*/
    ;
    margin-right: 5px;
    padding-top: 0px;
}

.live i {
    float: left;
    font-size: 25px;
    margin-left: 3%;
    color: #d8352b;
}

#post1 {
    margin-top: 2.5%;
    margin-left: 3%;
    height: 65%;
    /*760*/
    width: 99%;
    /*560*/
    background-color: white;
    padding: 1.5%;
    border-radius: 11px;
    box-shadow: 0px 0.5px 5px grey;
    transition: all 0.5s ease-in-out;
}

.poster img {
    float: left;
    margin: 0 0% 0 0px;
    height: 5.1%;
    /*35*/
    width: 6%;
    /*35*/
    border-radius: 50%;
}

#posterName {
    color: #050505;
    font-size: 90%
        /*14px*/
    ;
    font-weight: 600;
    margin-top: 5px;
    /*    position: static;*/
    margin-left: 0%
        /*42*/
    ;

}

#time {
    color: #616871;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 12px;
}

#time i {
    font-size: 12px;
}

#like,
#comment,
#share {
    float: left;
    width: 33.2%;
    height: 40px;
    text-align: center;
    border-radius: 8px;

}

.lastRowPost i {
    font-size: 20px;
    margin-right: 5px;
    padding-top: 0px;
    color: #616871;
}

#likeCont,
#shareCont,
#commentCont {
    color: #79737a;
    font-size: 14px;
    padding-bottom: 150px;
    font-weight: 600;
}

#like:hover,
#comment:hover,
#share:hover {
    cursor: pointer;
    text-decoration-color: #d8352b
}


@media only screen and (max-width: 768px) {

    .leftSide {
        width: 12%;
    }

    .rightSide {
        width: 88%;
    }

    #coverPhoto {
        width: 100%;
        height: 80%;
        border-radius: 0px;
        object-fit: cover
    }

}


.container-audio {
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    margin: 1%;
    overflow: hidden;
}

audio {
    width: 100%;
}

audio:nth-child(2),
audio:nth-child(4),
audio:nth-child(6) {
    margin: 0;
}

.container-audio .colum1 {
    width: 23px;
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
}

.container-audio .colum1:last-child {
    margin: 0;
}

.container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    -webkit-animation: Rofa 10s infinite ease-in-out;
    animation: Rofa 10s infinite ease-in-out;
    bottom: 0;
}

.container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
}

.container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.80s;
    animation-delay: 3.80s;
}

.container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.70s;
    animation-delay: 3.70s;
}

.container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.60s;
    animation-delay: 3.60s;
}

.container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.50s;
    animation-delay: 3.50s;
}

.container-audio .colum1:nth-of-type(6) .row {
    -webkit-animation-delay: 3.40s;
    animation-delay: 3.40s;
}

.container-audio .colum1:nth-of-type(7) .row {
    -webkit-animation-delay: 3.30s;
    animation-delay: 3.30s;
}

.container-audio .colum1:nth-of-type(8) .row {
    -webkit-animation-delay: 3.20s;
    animation-delay: 3.20s;
}

.container-audio .colum1:nth-of-type(9) .row {
    -webkit-animation-delay: 3.10s;
    animation-delay: 3.10s;
}

.container-audio .colum1:nth-of-type(10) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(11) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(12) .row {
    -webkit-animation-delay: 2.10s;
    animation-delay: 2.10s;
}

.container-audio .colum1:nth-of-type(13) .row {
    -webkit-animation-delay: 2.20s;
    animation-delay: 2.20s;
}

.container-audio .colum1:nth-of-type(14) .row {
    -webkit-animation-delay: 1.30s;
    animation-delay: 1.30s;
}

.container-audio .colum1:nth-of-type(15) .row {
    -webkit-animation-delay: 1.40s;
    animation-delay: 1.40s;
}

.container-audio .colum1:nth-of-type(16) .row {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s;
}

.container-audio .colum1:nth-of-type(17) .row {
    -webkit-animation-delay: 1.60s;
    animation-delay: 1.60s;
}

.container-audio .colum1:nth-of-type(18) .row {
    -webkit-animation-delay: 1.70s;
    animation-delay: 1.70s;
}

.container-audio .colum1:nth-of-type(19) .row {
    -webkit-animation-delay: 1.80s;
    animation-delay: 1.80s;
}

.container-audio .colum1:nth-of-type(20) .row {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
