<app-header></app-header>
<div class="container">

    <div class="row no-padding" class="col-md-12" id="cover" style="margin-bottom: 2.5%">
        <div id="coverPhotoParent">
            <img [src]="userInfo.coverPicURL" id="coverPhoto">
            <div id="avatar">
                <img [src]="userInfo.picURL">
                <h3 style="text-align: center;margin-top: 15px">{{userInfo.firstName+" "+userInfo.secondName}}</h3>
            </div>
            <hr style="margin-top: 10%;">
        </div>


    </div>
    <div class="row" style="margin-top: 40px">
        <input type="file" id="myFileInput" />

        <div class="nav  nav2 justify-content-end" id="nav-tab"
            style="background-color: transparent; width: 100%;margin-bottom: 2%;height: 5.5%;margin-top: 1%;">
            <span class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Add Friend">
                <div class="dropdown edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right">
                    <button class="btn btn-default " type="button" id="menu1" data-toggle="dropdown"
                        style="width: 100%"><i class="fas fa-user-plus" style="font-size: 16px;text-align: center"></i>
                    </button>
                </div>
            </span>
            <span class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Send Message">
                <div class="edit dropleft"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right">
                    <button [routerLink]="[ '/users/messages' ]" routerLinkActive="active" class="btn btn-default "
                        type="button" id="menu1" data-toggle="dropdown" style="width: 100%"><i class="fas fa-envelope"
                            style="font-size: 16px;text-align: center"></i>
                    </button>
                </div>
            </span>


            <span class="nav-item">
                <div class="dropdown edit"
                    style="box-shadow: 0px 0.5px 5px grey;border-radius:50%;width: 40px;float: right">
                    <button class="btn btn-default " type="button" id="menu1" data-toggle="dropdown"
                        style="width: 100%"><i class="fas fa-ellipsis-h" style="font-size: 16px;text-align: center"></i>
                    </button>
                    <ul class="dropdown-menu" style="width: 25%;border: none" role="menu" aria-labelledby="menu1">
                        <li role="presentation" style="padding-left:7px;">
                            <a role="menuitem" tabindex="-1" (click)="open(content)">
                                <i class="fas fa-exclamation-triangle" style="font-size: 15px"></i>
                                Report Profile
                            </a>

                            <!-- Modal -->
                            <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Report {{userInfo.firstName}} !</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" #title placeholder="Title" required>
                                    <br />
                                    <input type="text" class="form-control" #desc placeholder="Description" required>
                                    <br />
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            (change)="uploadReportImage($event)">
                                        <label class="custom-file-label"
                                            for="inputGroupFile01">{{imageReStatus}}</label>
                                        <div *ngIf="uploaded" class="mt-1" style="font-size: small;">
                                            <b *ngIf="uploaded=='Image Uploaded'">&#10003;</b> {{ uploaded }}
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark"
                                        (click)="c('Save click');reportUser(title.value,desc.value)">Report</button>
                                </div>
                            </ng-template>
                            <!-- End Modal -->

                        </li>
                        <hr>
                        <li role="presentation" style="padding-left:5px;"><a role="menuitem" tabindex="-1"
                                onclick="document.getElementById('myFileInput').click()"> <i class="fas fa-ban"
                                    style="font-size: 15px"></i> Block</a></li>
                    </ul>
                </div>
            </span>



        </div>

    </div>
    <div class="row" id="center">
        <nav id="sidebarMenu" class="col-sm-1 col-md-3 leftSide sidebar" style="background-color: #F5F7F8;">
            <div class="position-sticky my-3 d-flex justify-content-center">
                <ul class="nav flex-column">
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/home' ]" routerLinkActive="active">
                                <i class="fas fa-home"></i><span class="d-none d-md-inline-block"> Home</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/notifications' ]"
                                routerLinkActive="active">
                                <i class="fas fa-bell"></i><span class="d-none d-md-inline-block"> Notifications
                                </span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/messages' ]" routerLinkActive="active">
                                <i class="fas fa-envelope"></i><span class="d-none d-md-inline-block"> Messages</span>
                            </a>
                        </li>
                        <hr>
                    </div>

                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/talents' ]" routerLinkActive="active">
                                <i class="fas fa-music"></i><span class="d-none d-md-inline-block"> Talents</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/discover' ]" routerLinkActive="active">
                                <i class="fas fa-hashtag"></i><span class="d-none d-md-inline-block"> Discover</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/settings' ]" routerLinkActive="active">
                                <i class="fas fa-cog"></i><span class="d-none d-md-inline-block"> Settings</span>

                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/interests' ]" routerLinkActive="active">
                                <i class="fas fa-bahai"></i><span class="d-none d-md-inline-block"> Interests</span>
                            </a>
                        </li>
                        <hr>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link side" [routerLink]="[ '/users/bookmarks' ]" routerLinkActive="active">
                                <i class="fas fa-bookmark"></i><span class="d-none d-md-inline-block"> Bookmarks</span>
                            </a>
                        </li>
                    </div>
                </ul>

            </div>
        </nav>

        <div class="col-sm-11 col-md-9 rightSide" style="height: 100%">
            <div id="writePst">
                <div class="firstRow">
                    <img [src]="userInfo.picURL" style="width: 6%;cursor: pointer;">
                    <input type="text" placeholder={{postMind}} />
                </div>
                <hr>
                <div class="secondRow">
                    <div class="live">
                        <i class="fas fa-video" id="liveIcon"></i>
                        <i class="fas fa-microphone-alt"></i>
                        <i class="fas fa-paperclip"></i>
                        <input id="postButt" type="button" value="Post">
                    </div>

                </div>
            </div>

            <div id="post1" *ngFor="let post of postList;let i=index">
                <div class="poster">
                    <img [src]="userInfo.picURL" style="cursor: pointer;">
                    <div id="posterName" style="cursor: pointer;">{{userInfo.firstName+" "+userInfo.secondName}}</div>
                    <div id="time">{{post.date.seconds * 1000 | date:'dd-MM-yyyy hh:mm'}} <i
                            class="fas fa-globe-africa"></i></div>
                </div>

                <span class="ml-2">{{post.description}}</span>
                <br />
                <img [src]="post.image[0]" *ngIf="post.image[0]" style="width: 100%;">
                <span *ngIf="post.audio">
                    <div class="container-audio">
                        <audio controls loop autoplay>
                            <source [src]="post.audio" type="audio/ogg">
                            Your browser dose not Support the audio Tag
                        </audio>
                    </div>
                </span>

                <hr style="margin-top: 15px;">
                <div class="lastRowPost">
                    <div id="like" (click)="addLike(post.id)">
                        <i class="far fa-thumbs-up" id="likeIcon"></i>
                        <span id="likeCont">
                            Like <span class="badge badge-pill badge-light">{{LikesList[i].length}}</span>
                        </span>
                    </div>
                    <div id="comment">
                        <i class="fas fa-microphone-alt"></i>
                        <span id="commentCont">
                            Voice
                        </span>
                    </div>
                    <div id="comment" (click)="addComment(post.id,i)">
                        <i class="far fa-comment-alt" id="commentIcon"></i>
                        <span id="commentCont">
                            Comment <span class="badge badge-pill badge-light">{{commentsList[i].length}}</span>
                        </span>
                    </div>
                </div>


                <div id="writecomnt">
                    <hr style="margin-top: 55px;margin-bottom: 10px">
                    <div class="firstRow">
                        <img [src]="picURL" [routerLink]="'/users/profile'" routerLinkActive="active"
                            style="cursor: pointer;">
                        <input [(ngModel)]="postcomfields[i]" type="text" placeholder="Write a comment..."
                            id="cmntInput" />
                    </div>

                </div>
                <div *ngFor="let item of commentsList[i]" class="my-2 mx-3 mt-3" style="width: 70%;margin-left: 3.5%;">

                    <img style="width: 6%;height: 6%;float: left;border-radius: 50%;"
                        [src]="user.id==item.writer.id?picURL:item.writer.picURL"
                        [routerLink]="'/users/profile/'+item.writer.id" routerLinkActive="active">

                    <div class="pl-2" style="background-color:#F0F2F5;border-radius: 10px;margin-left: 5.5%;">
                        <div><small id="posterName">{{item.writer.name}}</small>
                            <small style="display: block;font-size: 10px;">
                                {{item.date | date:'dd-MM-yyyy hh:mm'}}</small>
                        </div>
                        <span style="font-weight: 400;">{{item.description}}</span>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>