<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <div style="width: 80%;" class="col-xs-9 col-sm-9 col-md-7 col-lg-8 my-2 mx-auto">
            <div class="row mx-auto my-2">
                <div id="writePst">
                    <div class="firstRow">
                        <img [src]="user.picURL">
                        <input *ngIf="urls.length===0||urlsVideo.length===0" type="text" [(ngModel)]="postDesc" [placeholder]="greating" />
                        <div class="p-2 ny-3" *ngFor="let url of urls">
                            <audio controls="" *ngIf="url"> 
                                <source [src]="sanitize(url)" type="audio/wav">
                            </audio>
                        </div>
                        <div class="container ny-3" *ngFor="let url of urlsVideo">
                            <video controls="" *ngIf="url"> 
                                <source [src]="sanitize(url)" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <hr>
                    <div class="secondRow">
                        <div class="live">
                            
                            <!-- Audio recorder html -->
                            <div style="display: inline-block;background-color: transparent;">
                               <button *ngIf="!isRecording" style="display: inline-block;background-color: transparent;border: none;" (click)="startRecording()"><i [ngStyle]="{'color': user.favColor}" class="fas fa-microphone-alt"></i></button>
                               <button *ngIf="isRecording" style="display: inline-block;background-color: transparent;border: none;" (click)="stopRecording()"><i [ngStyle]="{'color': red}" class="fas fa-microphone-alt"></i></button>
                            </div>
                            <!-- startVideoRecording -->
                            <div style="display: inline-block;background-color: transparent;">
                               <button *ngIf="!isRecordingVideo" style="display: inline-block;background-color: transparent;border: none;" (click)="startVideoRecording()"><i [ngStyle]="{'color': user.favColor}" class="fas fa-video" ></i></button>
                               <button *ngIf="isRecordingVideo" style="display: inline-block;background-color: transparent;border: none;" (click)="stopRecordingVideo()"><i [ngStyle]="{'color': red}" class="fas fa-video"></i></button>
                            </div>
                            <!-- <i [ngStyle]="{'color': user.favColor}" class="fas fa-paperclip"></i> -->
                            
                            <div class="dropdown " style="float: right">
                    <button class="btn dropdown-toggle float-right" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-paperclip"  [ngStyle]="{'color': this.user.favColor}"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" style="padding-left:9px;">
                            <a class="custom-file" role="menuitem" tabindex="-1">
                                <input type="file" (change)="uploadFile($event,'image')" class="custom-file-input"
                                    style="width:100%;" />
                                    <label class="custom-file-label" for="validatedCustomFile">
                                    <i class="fas fa-image" style="font-size: 15px"></i></label>
                            </a> 
                        </li>
                        <li role="presentation" style="padding-left:9px;">
                            <a class="custom-file" role="menuitem" tabindex="-1">
                                <input type="file" (change)="uploadFile($event,'audio')" class="custom-file-input"
                                    style="width:100%;" />
                                    <label class="custom-file-label" for="validatedCustomFile">
                                    <i class="fas fa-microphone" style="font-size: 15px"></i></label>
                            </a> 
                        </li>
                        <li role="presentation" style="padding-left:9px;">
                            <a class="custom-file" role="menuitem" tabindex="-1">
                                <input type="file" (change)="uploadFile($event,'video')" class="custom-file-input"
                                    style="width:100%;" />
                                    <label class="custom-file-label" for="validatedCustomFile">
                                    <i class="fas fa-video" style="font-size: 15px"></i></label>
                            </a> 
                        </li>
                    </ul>
                </div>
                            <input [ngStyle]="{'background-color': user.favColor}" (click)="addPost(postDesc,urls,urlsVideo)" class="postButt col-12" type="button" value="Post">
                        </div>

                    </div>
                </div>


                <div class="Post" id="post1"  *ngFor="let post of postList;let i=index">
                <div class="dropdown " style="float: right">
                    <button class="btn dropdown-toggle points" id="menu1" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"  [ngStyle]="{'color': this.user.favColor}"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" style="padding-left:9px;">
                            <button (click)="bookmarkpost(post)" style="color: black;background-color: transparent;border: none;cursor: pointer;">
                                <i class="fas fa-bookmark"
                                    style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                Bookmark this post</button>
                        </li>
                    </ul>
                </div>
                <div class="poster">
                    <img [src]="post.owner.picURL" [routerLink]="'/users/profile/'+post.owner.id">
                    <div id="posterName" [routerLink]="'/users/profile/'+post.owner.id">{{post.owner.name}}</div>
                    <div id="time">{{post.date.seconds * 1000 | date:'dd-MM-yyyy HH-mm'}} <i class="fas fa-globe-africa"></i></div>
                </div>

                <span style="padding: 2%;" *ngIf="post.description">{{post.description}}</span>
                <!-- <span style="padding: 2%;" *ngIf="post.image.length>0"><img *ngFor="let item of post.image;" [src]="item." class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></span> -->
                <img [src]="post.image[0]" *ngIf="post.image[0]" style="width: 100%;">
                <span *ngFor="let item of post.audio">
                    <div class="container-audio">
                        <audio controls loop autoplay>
                            <source [src]="sanitize(item)" type="audio/ogg">
                            Your browser dose not Support the audio Tag
                        </audio>
                    </div>
                </span>

                <hr style="margin-top: 15px;">
                <div class="lastRowPost">
                    <div id="like" (click)="addLike(post)">
                        <i class="far fa-thumbs-up" id="likeIcon"></i>
                        <span id="likeCont">
                            Like <span class="badge badge-pill badge-light">{{LikesList[i].length}}</span>
                        </span>
                    </div>
                    <div id="comment" >
                        <i class="fas fa-microphone-alt"></i>
                        <span id="commentCont">
                            Voice
                        </span>
                    </div>
                    <div id="comment" (click)="addComment(post,i)">
                        <i class="far fa-comment-alt" id="commentIcon"></i>
                        <span id="commentCont">
                             Comment <span class="badge badge-pill badge-light">{{commentsList[i].length}}</span>
                        </span>
                    </div>
                </div>

                <div id="writecomnt">
                    <hr style="margin-top: 55px;margin-bottom: 10px">
                    <div class="firstRow">
                        <img [src]="user.picURL">
                        <input [(ngModel)]="postcomfields[i]" type="text" placeholder="Write a comment..." class="cmntInput" />
                    </div>

                </div>

             <div  *ngFor="let item of commentsList[i]" class="my-2 mx-3 mt-3" style="width: 70%;margin-left: 3.5%;">	             
                        <img style="width: 6%;height: 6%;float: left;border-radius: 50%;" [src]="item.writer.picURL"> 	                       
                        <div class="pl-2" style="background-color:#F0F2F5;border-radius: 10px;margin-left: 5.5%;">
                        <div><small id="posterName">{{item.writer.name}}</small>
                            <small style="display: block;font-size: 10px;">
                                {{item.date | date:'dd-MM-yyyy hh:mm'}}</small>
                        </div>
                        <span style="font-weight: 400;">{{item.description}}</span>
                    </div>                        
              </div>

            </div>

            </div>
        </div>

    </div>
</div>