<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <div style="width: 80%;" class="col-xs-9 col-sm-9 col-md-7 col-lg-8 my-2 mx-auto">
            <div class="row mx-auto my-2">
                <div id="writePst">
                    <div class="firstRow">
                        <img [src]="user.picURL">
                        <input type="text" [placeholder]="greating" />
                    </div>
                    <hr>
                    <div class="secondRow">
                        <div class="live">
                            <i [ngStyle]="{'color': user.favColor}" class="fas fa-video" id="liveIcon"></i>
                            <i [ngStyle]="{'color': user.favColor}" class="fas fa-microphone-alt"></i>
                            <i [ngStyle]="{'color': user.favColor}" class="fas fa-paperclip"></i>
                            <input [ngStyle]="{'background-color': user.favColor}" class="postButt col-12" type="button" value="Post">
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>