 
                                <div class="post">
                                    <div class="poster">
                                        <img src="avatar.png">
                                        <div id="posterName">Mai Ahmed</div>
                                        <div id="time">2hr . <i class="fas fa-globe-africa"></i></div>
                                    </div>
        
                                    <span>loeakhrknsmdabskjbasma dfsnjksdbfkjbfkjsdfs sdmfsndfs sdfsnfkljshfnsljfhsf sdfsdfsfsklkjhfgdffg skljsklfnsdkfsdfkjsfn sflknshfksnfkls dhflkshflsjfhsljfhlsj ajhakjfksjlf sdflhskjdf sldfnjs;ldfhksdf sdklfnsjlf;ksloeakhrknsmdabskjbasma dfsnjksdbfkjbfkjsdfs sdmfsndfs sdfsnfkljshfnsljfhsf sdfsdfsfsklkjhfgdffg.</span>
        
        
                                    <hr style="margin-top: 15px;">
                                    <div class="lastRowPost">
                                        <div id="like" >
                                            <i class="far fa-thumbs-up" id="likeIcon"></i>
                                            <span id="likeCont">
                                                Like
                                            </span>
                                        </div>
                                        <div id="comment">
                                            <i class="fas fa-microphone-alt"></i>
                                            <span id="commentCont">
                                                Voice
                                            </span>
                                        </div>
                                        <div id="comment" >
                                            <i class="far fa-comment-alt" id="commentIcon"></i>
                                            <span id="commentCont">
                                                Comment
                                            </span>
                                        </div>
                                       
                                    </div>
        
        
                                    <div id="writecomnt">
                                        <hr style="margin-top: 55px;margin-bottom: 10px">
                                        <div class="firstRow">
                                            <img src="avatar.png">
                                            <input type="text" placeholder="Write a comment..." id="cmntInput" />
                                        </div>
        
                                    </div>
        
                                </div>

                                
                                