<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
            <div class="col-10 col-md-9">
                <h1 class="ml-3 mb-4">Discover</h1>

                <div class="nav  ml-3 nav2" id="nav-tab"
                    style="background-color: #F5F7F8;border-radius: 8px;box-shadow: 0px 0.5px 5px grey; width: 100%;margin-bottom: 2%;height: 5%;font-size: 17px;">
                    <span class="nav-item nav-link col"
                        style="background-color: #BBBBBA;border-bottom: 2px solid;border-bottom-color:#d8352b;border-radius: 4px ;color: #d8352b;">All</span>
                    <span class="nav-item nav-link col" *ngFor="let talent of talentList" (click)="getPostsByTalent(talent.id)">
                        {{talent.name}}
                    </span>

                </div>

                <!-- kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
                <div id="post1"  *ngFor="let post of postList;" class="ml-3">
                    <div class="dropdown " style="float: right">
                        <button class="btn dropdown-toggle points" id="menu1" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-ellipsis-h" style="color: #d8352b;font-size: 16px"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" style="padding-left:9px;">
                                <a href="#" style="color: black">
                                    <i class="far fa-bookmark"
                                        style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                    Bookmark</a>
                            </li>
                            <hr>
                            <li role="presentation" style="padding-left:7px;">
                                <a href="#" style="color: black">
                                    <i class="fas fa-exclamation-triangle"
                                        style="font-size: 15px;color: #d8352b;margin-right: 5px;"></i>
                                    Report Post</a>
                            </li>
                            <hr>
                            <li role="presentation" style="padding-left:7px;">
                                <a href="#" style="color: black">
                                    <i class="fas fa-ban"
                                        style="font-size: 15px;color: #d8352b;margin-right: 5px;"></i>
                                    Block</a>
                            </li>
                            <hr>
                            <li role="presentation" style="padding-left:7px;">
                                <a href="#" style="color: black">
                                    <i class="fas fa-volume-mute"
                                        style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                    Mute</a>
                            </li>
                        </ul>
                    </div>
                    <div class="poster">
                        <img src="./assets/avatar.png">
                        <div id="posterName">Name</div>
                        <div id="time">{{post.date}} <i class="fas fa-globe-africa"></i></div>
                    </div>
    
                    <span>{{post.description}}</span>
    
    
                    <hr style="margin-top: 15px;">
                    <div class="lastRowPost">
                        <div id="like" onclick="addLike()">
                            <i class="far fa-thumbs-up" id="likeIcon"></i>
                            <span id="likeCont">
                                Like
                            </span>
                        </div>
                        <div id="comment" onclick="addComment()">
                            <i class="fas fa-microphone-alt"></i>
                            <span id="commentCont">
                                Voice
                            </span>
                        </div>
                        <div id="comment" onclick="addComment()">
                            <i class="far fa-comment-alt" id="commentIcon"></i>
                            <span id="commentCont">
                                Comment
                            </span>
                        </div>
                    </div>
    
    
                    <!-- <div id="writecomnt">
                        <hr style="margin-top: 55px;margin-bottom: 10px">
                        <div class="firstRow">
                            <img [src]="picURL">
                            <input type="text" placeholder="Write a comment..." id="cmntInput" />
                        </div>
    
                    </div> -->
    
                </div>
                <br/>

                <!-- kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->

                <!-- <div class="d-flex align-items-center ml-3 "
                    style="background-color: white;border-radius: 11px;box-shadow: 0px 0.5px 5px grey; width: 100%"
                    *ngFor="let post of postList;">
                    <div class=" py-3">
                        <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                            <div class="poster" style="width: 200%">
                                <div class="dropdown " style="float: right">
                                    <button class="btn dropdown-toggle points" id="menu1" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-ellipsis-h" style="color: #d8352b;font-size: 16px"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" style="padding-left:9px;">
                                            <a href="#" style="color: black">
                                                <i class="far fa-bookmark"
                                                    style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                                Bookmark</a>
                                        </li>
                                        <hr>
                                        <li role="presentation" style="padding-left:7px;">
                                            <a href="#" style="color: black">
                                                <i class="fas fa-exclamation-triangle"
                                                    style="font-size: 15px;color: #d8352b;margin-right: 5px;"></i>
                                                Report Post</a>
                                        </li>
                                        <hr>
                                        <li role="presentation" style="padding-left:7px;">
                                            <a href="#" style="color: black">
                                                <i class="fas fa-ban"
                                                    style="font-size: 15px;color: #d8352b;margin-right: 5px;"></i>
                                                Block</a>
                                        </li>
                                        <hr>
                                        <li role="presentation" style="padding-left:7px;">
                                            <a href="#" style="color: black">
                                                <i class="fas fa-volume-mute"
                                                    style="font-size: 16px;color: #d8352b;margin-right: 5px;"></i>
                                                Mute</a>
                                        </li>
                                    </ul>
                                </div>

                                <img src="./assets/avatar.png" onclick="location.href='otherProfile.html';">
                                <div id="posterName"><span onclick="location.href='otherProfile.html';">Name</span>
                                </div>
                                <div id="time">7hr . <i class="fas fa-globe-africa"></i></div>

                            </div>

                        </div>
                        <div class="pl-3 pr-3" style="font-size: 17px;">
                            {{post.description}}
                        </div>
                        <hr>

                        <div class="px-3">
                            <div class="lastRowPost">
                                <div id="like">
                                    <i class="far fa-thumbs-up" id="likeIcon"></i>
                                    <span id="likeCont">
                                        Like
                                    </span>
                                </div>
                                <div id="comment">
                                    <i class="fas fa-microphone-alt"></i>
                                    <span id="commentCont">
                                        Voice
                                    </span>
                                </div>
                                <div id="comment">
                                    <i class="far fa-comment-alt" id="commentIcon"></i>
                                    <span id="commentCont">
                                        Comment
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->




            </div>
        </div>
    </div>
</div>