 #text {
     width: 60%;
     margin-left: 7%;
     margin-top: 5%;
     font-size: large;
 }
 
 #forms {
     width: 10%;
     height: 17vw;
     padding: 13vw;
     margin-top: 7vw;
     font-size: large;
     border: solid 2px #d8352b;
     border-radius: 10px;
 }
 
 #but1 {
     margin-top: 4%;
     margin-left: 6%;
     width: 25vw;
     border-radius: 20px;
 }
 
 #but2 {
     margin-left: 2vw;
     margin-top: 1vw;
     width: 25vw;
     border-radius: 20px;
 }
 
 .box {
     margin-bottom: 2.5%;
     margin-top: 28%;
     margin-left: -15%;
     width: 80%;
     background-color: white;
     padding: 1.5%;
     border-radius: 11px;
     box-shadow: 0px 0.5px 5px grey;
 }