
               
              <div id="sidebarMenu"  style="background-color: #F5F7F8 ;padding-left:40px;padding-top: 25px;margin-left: 0.5%">

                  
              <h1>Notification:</h1>
              <div class="dropdown-divider"></div>
                <!---------------------------user1-------------->


                <div class="card mb-5 p-3"  *ngFor="let item of notoficationArr"style="width: 100%">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">{{item}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
<br>

                <!-- <img src="image.png" style="width: 50px;border-radius: 50%"><span class="d-none d-md-inline-block" style="margin-left: 18px;font-weight: 500;font-size: 20px;color:black;">{{userName}}</span>
                <div class="dropdown-divider"></div>
      
                
                <p *ngFor="let item of notoficationArr" >{{item}}
                  <button type="button" class="btn" style="background-color: #d8352b;margin-left: 50px;margin-bottom: 10px;color: white; margin-top: 10PX;"><span style="font-size: 20PX; font-weight: bold;margin-right: 10px;">GO</span><i class="fas fa-greater-than"></i></button>
                
                </p>
      
                  <div class="dropdown-divider"></div>
                  </div> -->
                