// body,html{
//     height: 100%;
//     margin: 0;
//     background: #7F7FD5;
//    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
//     background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
// }

.chat{
    border-radius: 15px !important;
     margin-top: 1.2%;
     padding-top:1%;
     margin-left:1%;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}
.card{
    height: 90%;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd23;
padding: 10px;
// min-width: 50px;
color:white;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
color:white;
background-color: #da5d7c;
padding: 10px;
position: relative;
}
.msg_time_send{
position: absolute;
left: 0;
bottom: -20px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}

///////////////////////////////////////////////////////////////////////////////////


.active {
    background-color: #bbbbba46;
}

@media screen and (max-width: 1220px) {
    .middleSetting {
        display: none
    }
}


.vl {
    border-left: 1px solid grey;
    height: 100%;
    margin-top: 5rem;
}

.msg {
    border-radius: 5px;
    box-shadow: 0px 0.5px 2px grey;
}

#themeSetting {
    margin: 2%;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

// .msgApperance {
//     border-radius: 15px;
//     border: 1px solid grey;
//     padding: 5px;
//     margin-bottom: 5px;
// }

// .person1 {
//     float: left;
//     margin-top: 3px;
// }

// .person2 {
//     float: right;
//     margin-top: 3px;
// }

// .sticky-offset {
//     top: 0px;
// }

.nav-item i {
    font-size: 30px;
    color: #d8352b;
    margin-left: 8px;
}

.nav-item span {
    font-size: 20px;
    margin-left: 30px
}

.nav-item {
    border-radius: 100px;
}

.nav-item span:hover {
    color: #d8352b;
    cursor: pointer
}

.nav-item:hover {
    background-color: #BBBBBA;
}

.nav-item a {
    color: #444444;
}

#sidebarMenu {
    background-color: #F0F2F5;
    border-radius: 5px;
    box-shadow: 0px 0.5px 5px grey;
}

.bookmark {
    background-color: #F0F2F5;
    border-radius: 8px;
    margin-left: 0.5%;
    box-shadow: 0px 0.5px 2px grey;
    cursor: pointer;
    padding: 2%;
    margin-top: 2%;
    height: 170px;
}

.bookmark:hover {
    background-color: #c0c1c2;
}

.bookmarkIcon {
    border: 1px solid grey;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #444444;
}

.imageContainer {
    width: 150px;
    height: 140px;
}

.FontConfig {
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

.smallPic {
    border-radius: 50%;
    width: 25px;
}

.closeBtn {
    float: right;
    font-size: 20px;
    color: grey;
    margin-top: -10px;
}

#writePst {
    margin-top: 0%;
    margin-left: 3%;
    height: 30%;
    /*118px*/
    width: 99%;
    /*560*/
    background-color: white;
    padding: 12px;
    border-radius: 11px;
    box-shadow: 0px 0.5px 5px grey;
    transition: all 1s ease-in-out;
}

.firstRow img {
    float: left;
    margin: 2 2.5% 0 0px;
    height: 40%;
    /*35*/
    width: 5%;
    /*35*/
    border-radius: 50%;
}

.firstRow input {
    width: 91.2%;
    /*488*/
    height: 35px;
    padding-left: 5px;
    font-size: 16px;
    border: 0px;
    background: #F0F2F5;
    border-radius: 18px;
    margin-top: 1%;
    padding-left: 12px;
    outline: none;
    margin-bottom: 0px;
}

#postButt {
    margin-left: 50%;
    width: 12%;
    height: 2%;
    text-align: center;
    border-radius: 15px;
    background-color: #D93746;
    border: none;
}

.secondRow i {
    font-size: 130%
    /*20px*/
    ;
    margin-right: 5px;
    padding-top: 0px;
}

.live i {
    float: left;
    font-size: 25px;
    margin-left: 3%;
    color: #d8352b;
}

.post {
    margin-top: 2.5%;
    margin-left: 3%;
    height: 65%;
    /*760*/
    width: 99%;
    /*560*/
    background-color: white;
    padding: 1.5%;
    border-radius: 11px;
    box-shadow: 0px 0.5px 5px grey;
    transition: all 0.5s ease-in-out;
}

.poster img {
    float: left;
    margin: 0 0% 0 0px;
    height: 5.1%;
    /*35*/
    width: 6%;
    /*35*/
    border-radius: 50%;
}

#posterName {
    color: #050505;
    font-size: 90%
    /*14px*/
    ;
    font-weight: 600;
    margin-top: 5px;
    /*    position: static;*/
    margin-left: 0%
    /*42*/
    ;
}

#time {
    color: #616871;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 12px;
}

#time i {
    font-size: 12px;
}

#like,
#comment,
#share {
    float: left;
    width: 33.2%;
    height: 40px;
    text-align: center;
    border-radius: 8px;
}

.lastRowPost i {
    font-size: 20px;
    margin-right: 5px;
    padding-top: 0px;
    color: #616871;
}

#likeCont,
#shareCont,
#commentCont {
    color: #79737a;
    font-size: 14px;
    padding-bottom: 150px;
    font-weight: 600;
}

#like:hover,
#comment:hover,
#share:hover {
    cursor: pointer;
    text-decoration-color: #d8352b
}