.sticky-offset {
  top: 0px;
}

.nav-item i {
  font-size: 30px;
  color: #d8352b;
  margin-left: 8px;
}

.nav-item span {
  font-size: 20px;
  margin-left: 30px
}

.nav-item {
  border-radius: 100px;
}

.nav-item span:hover {
  color: #d8352b;
  cursor: pointer
}

.nav-item:hover {
  background-color: #BBBBBA;
}

.nav-item a {
  color: #444444 !important;
}

#sidebarMenu {
  background-color: #F0F2F5;
  border-radius: 5px;
  box-shadow: 0px 0.5px 5px grey;
}

.sticky-offset {
  top: 0px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#coverPhotoParent {
  width: 100%;
  height: 50vh;
  position: relative;
}

#coverPhoto {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  object-fit: cover
}

#avatar {
  position: absolute;
  bottom: 0;
  left: 37%;
  width: 27%;
  text-align: center;
  display: inline-block;

}

#avatar img {
  width: 80%;
  border-radius: 50%;
  border-color: white;
  background-color: white;
}

.leftSide {
  background-color: #F0F2F5;
  border-radius: 5px;

  box-shadow: 0px 0.5px 5px grey;
}

.top-card div i {
  font-size: 25px;
  color: #d8352b;
  margin-top: 2%;
}

.top-card div span {
  font-size: 110%;
  margin-left: 2%;
  color: #444444;
}

.top-card div span:hover {
  color: #d8352b;
  cursor: pointer
}

.top-card {
  padding-top: 4%
}

.top-card div {
  width: 100%;
  height: 50px;
  margin-bottom: 1.5%;
  padding-left: 5%;
  padding-top: 2.25%;
  border-radius: 35px;
}

.icon:hover {
  background-color: #BBBBBA;
}

#writePst {
  margin-top: 0%;
  margin-left: 3%;
  height: 30%;
  /*118px*/
  width: 99%;
  /*560*/
  background-color: white;
  padding: 12px;
  border-radius: 11px;
  box-shadow: 0px 0.5px 5px grey;
  transition: all 1s ease-in-out;
}

.firstRow img {
  float: left;
  margin: 2 2.5% 0 0px;
  height: 40%;
  /*35*/
  width: 5%;
  /*35*/
  border-radius: 50%;
}

.firstRow input {
  width: 91.2%;
  /*488*/
  height: 35px;
  padding-left: 5px;
  font-size: 16px;
  border: 0px;
  background: #F0F2F5;
  border-radius: 18px;
  margin-top: 1%;
  padding-left: 12px;
  outline: none;
  margin-bottom: 0px;
}

.post {
  margin-bottom: 2.5%;
  margin-top: 1.5%;
  margin-left: 3%;
  height: 25%;
  /*760*/
  width: 99%;
  /*560*/
  background-color: white;
  padding: 1.5%;
  border-radius: 11px;
  box-shadow: 0px 0.5px 5px grey;
  transition: all 0.5s ease-in-out;
}

.poster img {
  float: left;
  margin: 0 0% 0 0px;
  height: 5.1%;
  /*35*/
  width: 6%;
  /*35*/
  border-radius: 50%;
}

#posterName {
  color: #050505;
  font-size: 90%
    /*14px*/
  ;
  font-weight: 600;
  margin-top: 5px;
  /*    position: static;*/
  margin-left: 0%
    /*42*/
  ;

}

#time {
  color: #616871;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 12px;
}

#time i {
  font-size: 12px;
}

#like,
#comment,
#share {
  float: left;
  width: 33.2%;
  height: 40px;
  text-align: center;
  border-radius: 8px;
}

.lastRowPost i {
  font-size: 20px;
  margin-right: 5px;
  padding-top: 0px;
  color: #616871;
}

#likeCont,
#shareCont,
#commentCont {
  color: #79737a;
  font-size: 14px;
  padding-bottom: 150px;
  font-weight: 600;
}

#like:hover,
#comment:hover,
#share:hover {
  cursor: pointer;
  text-decoration-color: #d8352b
}

#inputtext {


  width: 91.2%;
  /*488*/
  height: 40px;
  padding-left: 5px;
  font-size: 16px;
  border: 0px;
  background: #F0F2F5;
  border-radius: 18px;
  margin-top: 1%;
  padding-left: 12px;
  outline: none;
  margin-bottom: 0px;
}
